<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Calendario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-segment [(ngModel)]="calendar.mode" (ionChange)="segmentChanged($event)" color="tertiary">
    <ion-segment-button value="day">
      <ion-label>Semana</ion-label>
    </ion-segment-button>
    <ion-segment-button value="month">
      <ion-label>Mes</ion-label>
    </ion-segment-button>
  </ion-segment> -->

  <div class="header">
    <ion-title>{{ viewTitle | titlecase }}</ion-title>
    <div>
      <ion-button fill="clear" (click)="slidePrev()"><ion-icon name="caret-back" color="tertiary"></ion-icon></ion-button>
      <ion-button (click)="setToday()" fill="clear" style="color: whitesmoke;">Hoy</ion-button>
      <ion-button fill="clear" (click)="slideNext()"><ion-icon name="caret-forward" color="tertiary"></ion-icon></ion-button>
    </div>
  </div>

  <calendar [calendarMode]="calendar.mode" (onTitleChanged)="viewTitle = $event" [eventSource]="myEvents"
    [startingDayMonth]="1" [startHour]="6" [endHour]="22" (onEventSelected)="onEventSelected($event)"
    [monthviewDisplayEventTemplate]="monthviewDisplayEventTemplate" [monthviewEventDetailTemplate]="monthviewEventDetailTemplate" [lockSwipes]="calendar.lockSwipes">
  </calendar>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="addDate()">
    <ion-fab-button color="tertiary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ng-template #monthviewDisplayEventTemplate let-view="view" let-row="row" let-col="col">
    {{ view.dates[row*7+col].label }}
    <div class="indicator-container">
      <div class="event-indicator" *ngFor="let e of view.dates[row*7+col].events"></div>
    </div>
  </ng-template>

  <ng-template #monthviewEventDetailTemplate let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
    <ion-list>
      @for (date of selectedDate.events; track date.id) {
        <ion-item [style.--background]="date.color">
          <ion-label mode="ios">
            <h2 style="font-weight: bold;">{{ date.title | titlecase }} - {{ formatDate(date.startTime) }}</h2>
            <p>{{ date.name | titlecase }}</p>
          </ion-label>
          <ion-button slot="end" fill="clear" (click)="editDate(date.id)"><ion-icon name="create" slot="icon-only" size="large" style="color: whitesmoke;"></ion-icon></ion-button>
        </ion-item>
      } @empty {
      <div class="empty">No hay citas</div>
      }
    </ion-list>
  </ng-template>
</ion-content>
