ion-header {
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 150px;
    }
  }
}

ion-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 150px);

  ion-item.selected {
    --color: var(--ion-color-tertiary);

    ion-icon {
      color: var(--ion-color-tertiary);
    }
  }

  .copyright {
    display: flex;
    padding: 5px;

    ion-label {
      margin: auto;
    }
  }
}

