<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }} Cita</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="arrow-back" (click)="goBack()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <ion-list>
      <ion-item>
        <ion-input label="Cliente*" [clearInput]="true" type="text" labelPlacement="stacked"
          formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Servicio*" [clearInput]="true" type="text" labelPlacement="stacked"
          formControlName="service"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Precio*" [clearInput]="true" type="number" labelPlacement="stacked"
          formControlName="price"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Hora de comienzo*" [clearInput]="true" type="datetime-local" labelPlacement="stacked"
          formControlName="start"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Hora de finalización*" [clearInput]="true" type="datetime-local" labelPlacement="stacked"
          formControlName="end"></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea label="Observaciones" type="text" [autoGrow]="true" labelPlacement="stacked"
          formControlName="observations"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-input label="Color*" [clearInput]="true" type="color" formControlName="color"></ion-input>
      </ion-item>
    </ion-list>

    <div>
      @if (this.id) {
        <ion-button color="danger" (click)="delete()">Eliminar <ion-icon slot="end"
            name="trash" ></ion-icon></ion-button>
        }
      <ion-button color="success" type="submit" [disabled]="!form.valid">Guardar <ion-icon
          slot="end" name="save"></ion-icon></ion-button>
    </div>
  </form>
</ion-content>
