ion-icon {
  margin-right: 10px;
  font-size: 24px;
  cursor: pointer;
}

ion-menu-button {
  color: var(--ion-color-tertiary);
}

ion-content {
  div {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;

    ion-button {
      width: 100%;
    }
  }
}
