ion-menu-button {
  color: var(--ion-color-tertiary);
}

.hour {
  text-align: end;
}

ion-item-sliding {
  margin-bottom: 10px;

  &:nth-last-child(1) {
    margin-bottom: 0;
  }
}

ion-item {
  --border-radius: 10px;
  --border-style: none;

  &:nth-last-child(1) {
    margin-bottom: 0;
  }

  p {
    color: white;
  }
}

.inventory {
  ion-item {
    padding: 0;
    margin-bottom: 10px;
  }

  &:nth-last-child(1) {
    margin-bottom: 0;
  }
}
